/* Font */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
/* Template for CSS:;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


/* Leaflet.js Styles */
#map {
	height: 590px;
	width: 1070px;
	margin-left: 230px;
}

/* Typed.js Styles */
/* Cursor */
.typed-cursor {
	font-size: 100px;
	color: #d1e8e2;
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.typedjsh3 {
	color: #d1e8e2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 100px;

}

/*Navbar Styling*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:#112D32;
	position: sticky;
    width: 100%;
	top:0;
	/* honestly kind of looks better and cleaner like this i think
	box-shadow: 0px 8px 30px 0.6px rgba(0,0,0,0.4);
	border-radius:10px;
	z-index: 31;
	*/
}

#active {
	background-color:#116466;
	color:#d1e8e2;
}

nav a {
    display: inline-block;
    text-align: center;
    padding: 20px 36px;
    text-decoration: none;
	float: left;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	/* This lighter brown is just a lighter version of the previous one and it is much easier to read than the first one */
	color:#bbb5aa;
}

body {
	color:#bbb5aa;
	background-color: #254E58;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color:#bbb5aa;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color:#bbb5aa;
}


p {
	font-family: 'Open Sans', sans-serif;
	color:#bbb5aa;
}

a:hover {
	color:#88BDBC;
}

#about {
	float: right;
}

#aboutactive {
	background-color:#116466;
	color:#d1e8e2;
	float: right;
}

.header {
	font-size: 30px;
}

#biggerheading {
	font-size: 40px;
	margin-left: 0px;
	background-color:#112D32;
	padding: 6px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 13px;
}

.badlink {
	color: black;
}

/*styling for the pictures on attractions page*/

.squareone {
	top: 480px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger1 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture1 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

.squaretwo {
	top: 980px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger2 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture2 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

.squarethree {
	top: 1480px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger3 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture3 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

.squarefour {
	top: 1980px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger4 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture4 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

.squarefive {
	top: 480px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger5 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture5 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

.squaresix {
	top: 480px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger6 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture6 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

.squareseven {
	top: 480px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger7 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture7 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

.squareeight {
	top: 480px;
	width: 1000px;
	left:200px;
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 40px;
	height: 550px;
}


.colorchanger8 {
	background-color:#02547D;
	width: 280px;
	box-shadow: 4px 8px 33px 0.8px rgba(0,0,0,0.4);
	padding-left: 20px;
	padding-top: 6px;
	padding-right: 8px;
	bottom: 200px;
	height: 390px;
}

.picture8 {
	position: relative;
	top: -380px;
	width: 600px;
	height: 600;
	left:330px;
	padding-top: 10px;
	z-index: -1;
}

/*divs for transportation page, table format from about me*/

.maindivy {
	position:relative;
	margin:30px;
	height: 598px;
	font-family: 'Ubuntu', sans-serif;
}

.box1 {
	position: absolute;
	top:122px;
	width: 600px;
	padding:10px;
	left:40px;
	font-size:16px;
	z-index: -1;
}

.box2 {
	position: absolute;
	top:122px;
	width: 600px;
	left:750px;
	font-size:16px;
	z-index: -1;
}

.box3 {	
	position: absolute;
	top:448px;
	width: 600px;
	left:40px;
	font-size:16px;
	z-index: -1;
}


.box4 {
	position: absolute;
	top: 448px;
	width: 600px;
	left: 750px;
	font-size:16px;
	z-index: -1;
}

/*divs for food page*/

.oneup {
	position: absolute;
	z-index: -1;
	padding: 20px;
	left: 10px;
	width:400px;
	background-color: #02547D;
}

.twoup {
	position: absolute;
	z-index: -1;
	padding: 20px;
	width:400px;
	left:500px;
	background-color: #02547D;
}

.threeup {
	position: absolute;
	z-index: -1;
	padding: 20px;
	width:400px;
	left: 1000px;
	background-color: #02547D;
}

/*divs for Dress Code*/

.oneupv2 {
	position: absolute;
	z-index: -1;
	padding: 20px;
	width:400px;
	background-color: #02547D;
}

.twoupv2 {
	position: absolute;
	z-index: -1;
	padding: 20px;
	width:400px;
	background-color: #02547D;
	margin-top: 70px;
}

.threeupv2 {
	position: absolute;
	z-index: -1;
	padding: 20px;
	width:400px;
	margin-top: 70px;
	background-color: #02547D;
}

.fulldiv1 {
	margin-left: 500px;
}

.fulldiv2 {
	margin-left: 500px;
	margin-top: 70px;
}